<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>servlet1</servlet-name>
        <servlet-class>clases.servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>circuitoServlet</servlet-name>
        <servlet-class>clases.circuitoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cocheServlet</servlet-name>
        <servlet-class>clases.cocheServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>potenciaServlet</servlet-name>
        <servlet-class>clases.potenciaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalculoServlet</servlet-name>
        <servlet-class>clases.CalculoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verTodoServlet</servlet-name>
        <servlet-class>clases.verTodoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet1</servlet-name>
        <url-pattern>/servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>circuitoServlet</servlet-name>
        <url-pattern>/circuitoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cocheServlet</servlet-name>
        <url-pattern>/cocheServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>potenciaServlet</servlet-name>
        <url-pattern>/potenciaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalculoServlet</servlet-name>
        <url-pattern>/CalculoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verTodoServlet</servlet-name>
        <url-pattern>/verTodoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
