<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>pruebaServlet</servlet-name>
        <servlet-class>servlet.pruebaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prueba</servlet-name>
        <servlet-class>servlet.prueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accesoServlet</servlet-name>
        <servlet-class>servlet.accesoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registroServlet</servlet-name>
        <servlet-class>servlet.registroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarReservaEntrada</servlet-name>
        <servlet-class>servlet.guardarReservaEntrada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarPerfil</servlet-name>
        <servlet-class>servlet.modificarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarEntradaServlet</servlet-name>
        <servlet-class>servlet.borrarEntradaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verMasPeliculaServlet</servlet-name>
        <servlet-class>servlet.verMasPeliculaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dejarComentario</servlet-name>
        <servlet-class>servlet.dejarComentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarPelicula</servlet-name>
        <servlet-class>servlet.modificarPelicula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarPelicula</servlet-name>
        <servlet-class>servlet.borrarPelicula</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pruebaServlet</servlet-name>
        <url-pattern>/pruebaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prueba</servlet-name>
        <url-pattern>/prueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accesoServlet</servlet-name>
        <url-pattern>/accesoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registroServlet</servlet-name>
        <url-pattern>/registroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarReservaEntrada</servlet-name>
        <url-pattern>/guardarReservaEntrada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarPerfil</servlet-name>
        <url-pattern>/modificarPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarEntradaServlet</servlet-name>
        <url-pattern>/borrarEntradaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verMasPeliculaServlet</servlet-name>
        <url-pattern>/verMasPeliculaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dejarComentario</servlet-name>
        <url-pattern>/dejarComentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarPelicula</servlet-name>
        <url-pattern>/modificarPelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarPelicula</servlet-name>
        <url-pattern>/borrarPelicula</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
